/*********DEFAULTS****************/
ul {
	margin: 2px;
	-webkit-padding-start: 10px;
	padding-left: 10px;
}

div {
	display: block;
}

body {
	font: 13px tahoma;
}

/***************CUSTOM****************/
.hz-scroll-outer {
	position: relative;
	width: 100%;
	height: 50%;
	overflow-x: auto;
	overflow-y: auto;
	margin-top: 10px;
}

.headerTxt {
	text-align: center;
	margin-top: 10px;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: black;
	font-size: 30px;
}

.headersSubText {
	text-align: center;
	font-size: 15px;
}

.logo {
	position: absolute;
	left: 3px;
	top: 3px;
}

.logoImg {
	width: 100px;
	height: 50px;
}

.squarecube ul li {
	list-style: none;
	text-align: left;
	padding-top: -3px;
	padding-left: 2px;
	margin-top: -1px;
	display: inline;
}

.row {
	clear: both;
	margin-top: 20px;
	margin-bottom: 20px;
}

.row .squarecube {
	padding-top: 10px;
	margin-left: 2px;
	padding-left: 0px;
	float: left;
}

.greenback {
	background-color: green;
	text-decoration: blink;
}

.details {
	border: 1px solid;
	padding: 5px;
	margin-top: 10px;
	padding-bottom: 30px;
}

.heading {
	text-transform: uppercase;
	font-weight: bold;
	text-align: -webkit-center;
}

.table {
	display: table;
	text-align: center;
}

.trow {
	display: table-row;
	clear: both;
}

.tcol {
	list-style: none;
	text-align: left;
	padding-left: 2px;
	padding-bottom: 2px;
	width: 150px;
	display: inline;
	float: left;
}

.center-div {
	width: 50%;
	margin: 0px auto;
}

.invisible {
	visibility: hidden;
}

button.cubeBtn {
	-webkit-box-shadow: rgba(0, 0, 0, 0.0 .97) 0px 1px 0px 0px;
	background-color: #5B74A8;
	border: 1px solid #29447E;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 6px;
	cursor: pointer;
	color: #fff;
	border-radius: 5px;
	width: 50px;
	height: 50px;
	/*height:25px;*/
	/*writing-mode:tb-rl;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);*/
}

button.emptyCube {
	-webkit-box-shadow: rgba(0, 0, 0, 0.0 .97) 0px 1px 0px 0px;
	background-color: #006400;
	border: 1px solid #29447E;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	padding: 2px 6px;
	color: #fff;
	border-radius: 5px;
	width: 50px;
	height: 50px;
}

button.multiOcuupied {
	-webkit-box-shadow: rgba(0, 0, 0, 0.0 .97) 0px 1px 0px 0px;
	background-color: #E9967A;
	border: 1px solid #29447E;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 6px;
	cursor: pointer;
	color: #fff;
	border-radius: 5px;
	width: 50px;
	height: 50px;
}

button.splCube {
	-webkit-box-shadow: rgba(0, 0, 0, 0.0 .97) 0px 1px 0px 0px;
	background-color: #DCDCDC;
	border: 1px solid #29447E;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 6px;
	color: #fff;
	border-radius: 5px;
	width: 50px;
	height: 50px;
}

button, .submitButton {
	background-color: #F5F5DC;
	border: 1px solid #29447E;
}

div.demarcations div {
	color: white;
	background-color: #8B008B;
	float: left;
	border: 1px solid black;
}

#tooltip {
	position: absolute;
	z-index: 9999;
	color: #000;
	font-size: 11px;
	/*border: 1px solid black;
    background-color: #FFF;*/
	text-transform: lowercase;
	font-weight: bold;
	padding: 1px;
	width: 150px;
	height: 15px;
	font-family: tahoma arial;
}

div.legends div {
	float: left;
	margin: 10px;
}

div.legends div {
	color: black;
	text-transform: uppercase;
	font-weight: bold;;
}

div.legends .legendColor {
	float: left;
	border: 1px solid black;
	height: 15px;
	width: 15px;
}

div.legends div div {
	margin: 1px;
}

.g-button, input[type="submit"] {
	-moz-transition: all 0.218s ease 0s;
	-moz-user-select: none;
	background-color: #4D90FE;
	border: 1px solid #DCDCDC;
	border-radius: 2px 2px 2px 2px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	min-width: 46px;
	padding: 0 8px;
	text-align: center;
}

/* GRID STYLES */
table.grid caption, .headerclass {
	color: #444;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 10px;
	text-align: center;
}

table.grid thead th {
	background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0),
		color-stop(100%, #DBDBDB));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0',
		endColorstr='#DBDBDB', GradientType=0);
	border: 1px solid #B0B0B0;
	color: #444;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 10px;
	cursor: pointer;
}

table.grid tbody tr {
	font-size: 11px;
}

table.grid tbody tr td {
	padding: 3px 10px;
}

table.grid tbody  tr.even {
	background: #DDE5EB;
}

table.grid tbody  tr.odd {
	background: #E8ECF1;
}

/***** GRID STYLES END **********/
.backsearch {
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}

.rowclass .left Div {
	display: inline;
	float: left;
}

.rowclass .right Div {
	display: inline;
	float: left;
}

.rowclass .left {
	font-weight: bold;
	margin-left: 20%;
}

.rowclass .right {
	font-weight: bold;
	margin-left: 55%;
}

.tableclass {
	border: 1px solid #ccc;
}

.footerclass input {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
}

.removefooterclass {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF0000;
	padding: 50px;
}

.rowclass {
	clear: both;
}

.labelleftalign {
	width: 150px;
	clear: left;
}

.labelrightalign {
	width: 150px;
	clear: right;
}

.lefttextboxalign {
	width: 140px;
	clear: right;
}

.righttextboxalign {
	width: 170px;
	clear: right;
}

.border1 {
	border: 1px solid black;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;;
}

.blockCenter {
	margin-left: auto;
	margin-right: auto;
}

/*** TABLE STYLE***/
.divTable {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%; /*Need to change this as per requirement*/
}

.divTable .tableTitle {
	color: #444;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 10px;
	text-align: center;
}

.divRow {
	clear: both;
}

.divCol {
	float: left;
	margin-left: 15px;
	width: 320px; /* Need to change this as per requirement*/
}

.divCol .left {
	float: left;
}

.divCol .right {
	float: right;
}
/*  END TABLE STYLE */

/** HEADER PAGE STYLES */
#credits {
	position: absolute;
	right: 10px;
	top: 30px;
	text-align: right;
}

#credits #title {
	color: blue;
	cursor: pointer;
}

#credits #contents {
	position: relative;
	border: 1px solid black;
	background-color: white;
	text-align: left;
	padding: 5px;
	z-index: 9999;
}

#credits #contents .even {
	background-color: #ccc;
}

#location {
	position: absolute;
	top: 30px;
	right: 0px;
}

#message {
	position: relative;
	text-align: center;
	font: 15px;
	color: green;
	border: 1px solid black;
	padding: 20px;
	background-color: #F5F5DC;
	text-transform: uppercase;
	font-weight: bold;
	z-index: 9999;
}

#helpPage #helpimage {
	position: absolute;
	text-align: right;
	top: 0px;
	right: 5px;
}

#helpPage #helpcontents {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 40%;
	position: absolute;
	border-style: double;
	padding: 3px;
	background-color: #DCDCED;
	top: 10%;
	left: 20%;
	z-index: 9999;
	display: none;
	height: 400px;
	overflow-y: auto;
}

#helpPage #helpcontents #helptitle {
	background-color: #5F9EA0;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 5px;
}

#helpPage #helpcontents #faq {
	width: 100%;
	margin: 3px;
}

#faq .question {
	width: 100%;
	font-weight: bold;
	padding-top: 5px;
	padding-left: 17px;
	background: url("../images/expand_collapse.gif") no-repeat;
	background-position: 0px 4px;
	cursor: pointer;
}

#faq .answer {
	margin-left: 10px;
	display: none;
}

/* END HEADER PAGE STYLEs */
#siteHits {
	text-transform: capitalize;
	font-weight: bold;
	position: absolute;
	top: 50px;
	right: 5px;
}

#buttonsPanel {
	margin-top: 5px;
	margin-bottom: 5px;
}

#buttonsPanel form {
	display: inline;
}

.warnmsg {
	font: bold 13px Tahoma;
	border: 2px dotted black;
	color: red;
	padding: 5px;
	text-align: center;
}

#affectedCube {
	visibility: hidden;
}

#siteviewinfo {
	position: absolute;
	left: 30%;
	width: 40%;
	bottom: 20px;
}

.backgroundHider {
	position: absolute;
	width: 100%;
	height: 125%;;
	z-index: 8888;
	display: none;
	top: 0px;
	left: 0px;
	background-color: rgba(21, 35, 36, 0.6);
}

.asyncView {
	margin: auto;
	width: 55%;
	display: none;
	z-index: 9999;
	position: fixed;
	background-color: #fff;
	top: 10%;
	left: 22%;
	border: 2px solid black;
	border-style: double;
}

.asyncViewContents {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: white;
	background-color: #5B9A9C;
}